python-dotenv
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
openai
imagehash
Pillow
twilio
sqlalchemy
asyncpg
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
